body {
	background-color: #B5DEF1;
	font-family: arial;
}
h2 {
	border-bottom: solid;
	}
.img-circle {
	border-radius: 100%;
	height: 350px;
	width: 350px;
	}
.img-cirlce {
	border-radius: 100%;
	height: 350px;
	width: 350px;
	rotation: 180deg;
}