body {
	font-family: sans-serif;
}
h2 {
	border-bottom: solid;
	color:#1B5B95;
}
h1 {
	color:#1B5B95;
}
h3 {
	color:#1B5B95;
}
p {
	color:#1B5B95;
}
.img-circle {
	border-radius: 100%;
	height: 350px;
	width: 350px;
	}
.img-cirlce {
	border-radius: 100%;
	height: 350px;
	width: 350px;
	rotation: 180deg;
}