body {
	background-color:#FAF84C;
	font-family: sans-serif;
}
h2 {
	border-bottom: solid;
	color:#827E73
	}
h1 {
	color:#827E73;
}
p {
	color:#1B5B95
}

h4 {
	color:#1B5B95;
}
ul {
	color:#1B5B95;
	float:left;
}
.pacepic{
	float:right;
}
